@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+Gunjala+Gondi:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind components;
@tailwind utilities;
@tailwind base;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  .heading {
    @apply 2xl:text-[3.2rem] text-[1.8rem] md:text-[2.4rem];
  }
  .paragraph {
    @apply 2xl:text-[2.4rem] md:text-[1.8rem] text-[1.4rem];
  }
}
body {
  width: 100vw;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
